* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    height: 100%;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333333;
}

footer {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    max-height: 10vh;
    height: 100%;
    padding: 10px;
    text-align: center;
    background: #333333;
    color: white;
}

nav {
    position: absolute;
}

button {
    outline: none;
    border: none;
    position: relative;
    padding: 20px 35px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 2;
}

button:hover {
    cursor: pointer;
    color: #000;
}

button::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.links-btn {
    background: rgb(181, 220, 233);
    color: #1c1c1c;
}

.links-btn:hover {
    background: transparent;
}

.links-btn:hover::after {
    background: rgb(92, 228, 194);
    transform: scale(1);
    z-index: -1;
}

.links-btn::after {
    width: 100%;
    height: 100%;
    transform: scale(0.1);
}

.modal {
    visibility: hidden;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

textarea {
    border-style: dotted;
    z-index: 4;
    background-color: aliceblue;
    font-size: 36px;
    padding: 5px;
    border-radius: 10px;
}
